body{
	background-color: #fafafa;
}
.title{
	text-align: center;
	margin-top:35.5px ;
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #4098FF;
	letter-spacing: 0.19px;
	line-height: 14px;
}
.logo{
	display: block;
	margin: auto;
	width: 354px;
	height: 321px;
	margin-top: 46px;
}
.info{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 45px;
	text-align: center;
}
.info .t1{
	font-family: .PingFangSC-Semibold;
	font-size: 24px;
	color: #58A5FF;
	letter-spacing: 0.29px;
	line-height: 24px;
}
.info .t2 , .info a{
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #58A5FF;
	letter-spacing: 0.19px;
	line-height: 16px;
	text-decoration: none;
	padding-top: 9px;
}
.info .btn{
	padding-top: 13px;
}
.info .btn button{
	width: 294px;
	height: 46px;
	background: #4098FF;
	border: 1px solid #58A5FF;
	border-radius: 100px;
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 16px;
}
.info .link{
	padding-top: 20px;
}
.loading-body{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: flex;
	transition: 0.5s;
}
.loading-body img{
	width: 30px;
	height: 30px;
	margin: auto;
}
