<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.yuan.test.mapper.IStuMapper">   
     
    <resultMap type="com.yuan.test.entity.Student" id="studentResultMap" >   
        <id property="stuId" column="STU_ID"/>   
        <result property="stuName" column="STU_NAME"/>   
        <result property="stuInAge" column="STU_IN_AGE"/>  
        <result property="haoPengYou" column="HAO_PENG_YOU"/>  
        <result property="ctId" column="CT_ID"/>  
        <result property="ctName" column="CT_NAME"/>  
       
    </resultMap>     
      
    <resultMap type="com.yuan.test.entity.ClassTeam" id="classTeamResultMap" >   
        <id property="ctId" column="CT_ID"/>   
        <result property="ctName" column="CT_NAME"/>   
        <result property="ctBeginDate" column="CT_BEGIN_DATE"/>  
    </resultMap>   
             
</mapper>  
