body{
	margin: 0;
	background-color: #F2F2F2  ;
}
.nav{
	padding-top: 15px;
	padding-bottom: 15px;
	background: #4098FF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav:after{
	content: '.';
	display: block;
	width: 40px;
	height: 0px;
	visibility: hidden;
}
.nav .back {
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 14px;
}
.nav .back a{
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 14px;
}
.nav img{
	margin-left: 9.3px;
	margin-bottom: -2px;
	
}
.nav .title{
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 16px;
}
.nav-city a{
	color: white;
	font-size: 16px;
}
.choose-img{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 141.5px;
	background-color: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
}
.choose-img li{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: center;
}
.choose-img img{
	margin-top: 10px;
	width: 90%;
	max-width: 168px;
}
.choose-img .content{
	font-family: .PingFangSC-Medium;
	font-size: 14px;
	color: #4098FF;
	letter-spacing: 0;
}

.alert-content{
	padding-top: 9.5px;
	padding-bottom: 13px;
	text-align: center;
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0;
	line-height: 18px;
}
.car-license-info{
	background-color: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 8.5px;
}
.car-license-info .title{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.car-license-info li{
	width: 20px;
	text-align: right;
}
.car-license-info .content label,.car-license-info .content-gray label{
	width: 30px;
	height: 36px;
	display: inline-block;
	background: #85B2F6;
	border-radius: 4px;
	text-align: center;
	font-family: .PingFangSC-Medium;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.17px;
	line-height: 14px;
	padding-top: 10px;
}
.car-license-info .content label .ipt,.car-license-info .content-gray label .ipt{
	width: 30px;
	height: 16px;
	border: none;
	display: inline-block;
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	text-align: center;
	font-family: .PingFangSC-Medium;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	margin-top: -2px;
	letter-spacing: 0.17px;
}
.car-license-info .content-gray label .ipt{
	color: #9B9B9B;
}
.car-license-info .content-gray label{
	color: #9B9B9B;
	background-color:  #F2F2F2;;
}
.pinpai{
	display: block;
}
.pinpai .content-gray{
	padding-top: 23px;
	margin-left: -5px;
	margin-right: -10px;
}
.pinpai .content-gray label{
	margin-bottom: 10px;
}
html,
body,
.mui-content {
	height: 0px;
	margin: 0px;
	background-color: #efeff4;
}
h5.mui-content-padded {
	margin-left: 3px;
	margin-top: 20px !important;
}
h5.mui-content-padded:first-child {
	margin-top: 12px !important;
}
.mui-btn {
	font-size: 16px;
	padding: 8px;
	margin: 3px;
}
.ui-alert {
	text-align: center;
	padding: 20px 10px;
	font-size: 16px;
}
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
.group{
	margin: 0;
	border-bottom: 1px solid #EBEBEB;

}
.group .content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.group ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.group ul img{
	width: 11px;
}
.date-picker{
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0.17px;
	line-height: 14px;
	border: none;
	background-color: #FFFFFF;
}
.save{
	width: 294px;
	height: 46px;
	background: #4098FF;
	border: 1px solid #58A5FF;
	border-radius: 100px;
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 16px;
	display: block;
	margin: auto;
	margin-top: 16px;
	margin-bottom: 29px;
}
.add-complete{
	height: 166px;
	background-color: #4098FF;
	background-image: url(../img/cloud.png);
	background-repeat: no-repeat;
	background-position: 0px 66px;
	background-size: 100% 105px;
	text-align: center;
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 16px;
}
.add-complete img{
	margin-top:10px ;
}
.add-complete .join{
	margin-top: 56px;
	display: block;
	font-family: .PingFangSC-Medium;
	font-size: 16px;
	color: #58A5FF;
	letter-spacing: 0.19px;
}
.add-complete .money{
	margin-top: 10px;
	display: block;
	font-family: .PingFangSC-Regular;
	font-size: 12px;
	color: #58A5FF;
	letter-spacing: 0.14px;
}
.deal-content{
	height: 329px;
	background-color: #FFFFFF;
	padding-top: 3px;
}
.deal-content .blue-gray{
	width: 300px;
	height: 21px;
	background-image: url(../img/blue-gray.png);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
}
.deal-content .blue-gray div{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	width: 100%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.deal-content .blue-gray .left{
	font-family: .PingFangSC-Medium;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 10px;
}
.deal-content .blue-gray .right{
	font-family: .PingFangSC-Medium;
	font-size: 10px;
	color: #58A5FF;
	letter-spacing: 0;
	line-height: 10px;
	
}
.deal-content img{
	width: 302px;
	height: 191px;
	display: block;
	margin:auto;
	margin-top: 29px;
}
.deal-content .agree{
	padding-left: 22px;
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0.17px;
	line-height: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 47px;
}
.deal-content .agree input{
	margin: 0;
	width:22px;
	height: 22px;
	padding: 0;
	line-height: 22px;
	display: inline-block;
	background-color: #58A5FF !important;
	margin-right: 10px;
	
}
.shadow{
	background: #FFFFFF;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
}
.deal-content .agree a{
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #4098FF;
	letter-spacing: 0.17px;
	line-height: 14px;
	text-decoration: none;
}
.make-sure{
	width: 100%;
	height: 56px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #4098FF;
	border: none;
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 16px;
}
body:after{
	content: ' ';
	display: block;
	visibility: hidden;
	height: 60px;
}
.model{
	position: fixed;
	background: rgba(155,155,155,0.50);
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
	display: none;
}
.model-body{
	width: 308px;
	margin: auto;
	margin-top: 185px;
	background: #FFFFFF;
	border-radius: 4px;
	text-align: center;
	-webkit-animation-name:showModelBody;
	        animation-name:showModelBody;
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
} 
@-webkit-keyframes showModelBody{
	from{opacity:0.5;-webkit-transform: translate(0px,-300px);transform: translate(0px,-300px);}
	to{opacity:1;-webkit-transform: translate(0px,0px);transform: translate(0px,0px);}
} 
@keyframes showModelBody{
	from{opacity:0.5;-webkit-transform: translate(0px,-300px);transform: translate(0px,-300px);}
	to{opacity:1;-webkit-transform: translate(0px,0px);transform: translate(0px,0px);}
}
.model-body img{
	margin-top:30px;
}
.model-head{
	border-bottom:  1px solid #EBEBEB;
}
.model-body .model-title{
	font-family: .PingFangSC-Medium;
	font-size: 18px;
	color: #4A4A4A;
	letter-spacing: 0.22px;
	margin-top:21px ;
}
.model-body .model-content{
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0.17px;
	margin-top:12px;
	margin-bottom: 28.5px;
}
.model-foot{
	height: 55.5px;
}
.model-foot a{
	display: block;
	padding-top: 15.5px;
	font-family: .PingFangSC-Regular;
	font-size: 16px;
	color: #4098FF;
	letter-spacing: 0.19px;
	text-decoration: none;
	
}
.save-new{
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background: #4098FF;
	height: 48px;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.19px;
	line-height: 14px;
	
}
.loading-body{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: flex;
	transition: 0.5s;
}
.loading-body img{
	width: 30px;
	height: 30px;
	margin: auto;
}
