.nav:after{
	display: none;
}
.dian a{
	font-size: 40px;
	letter-spacing: -5px;
}
.pay-info .pay-info-circle{
	margin-right: 10px;
	height: 64px !important;
}
.pay-info-circle img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
.pay-info .pay-info-total{
	flex-grow: 1;
}
.pay-info .pay-info-total .info{
 	font-size: 16px;
}
.pay-info .pay-info-total .number{
	margin-top: 16px;
}
.pay-info .pay-info-total .number span{
	font-family: .PingFangSC-Regular;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 10px;
	border-radius: 2px;
	border: 1px solid #FFFFFF;
	padding: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.pay-info .help-info{
	text-align: right;
	font-family: .PingFangSC-Regular;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 10px;
}
.pay-info .help-info .number{
	margin-top: 20px;
}
.pay-info .help-info .number span{
	
	font-size: 22px;
}
.shop{
	margin: 0;
}
.friends{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 15px;
}
.friends .add img{
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
}
.friends .add a{
	font-family: .PingFangSC-Regular;
	font-size: 12px;
	color: #C6C5C6;
	letter-spacing: 0;
	line-height: 12px;
}
.shop > .shop-head{
	padding-top: 15px;
	padding-bottom: 15px;
}
.chart .shop-head{
	margin-top: 10px;
	padding-top: 9px;
	padding-bottom: 9px;
}
.chart .goods .good-title{
	font-family: .PingFangSC-Regular;
	font-size: 12px;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 12px;
}
.chart .goods .green{
	font-family: .PingFangSC-Medium;
	font-size: 30px;
	color: #7ED321;
	letter-spacing: 0;
}
.chart .goods .blue{
	font-family: .PingFangSC-Medium;
	font-size: 30px;
	color: #4098FF;
	letter-spacing: 0;
}
.chart .goods .orange{
	font-family: .PingFangSC-Medium;
	font-size: 30px;
	color: #F6A623;
	letter-spacing: 0;
}
.chart .goods .green span,.chart .goods .blue span,.chart .goods .orange span{
	font-size: 12px;
}
.chart .goods{
	height: 86.5px;
}
.chart .goods li{
	margin-top: 18px;
	margin-bottom: 18px;
}
.chart .goods li p{
	margin: 0;
	padding: 0;
}
.chart .quanzi-content{
	border-top: 1px solid #F2F2F2;
	padding-top:8px ;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: .PingFangSC-Regular;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0;
	line-height: 24px;
}
