<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oojunzi.app.web.dao.GarageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.oojunzi.app.web.model.GarageInfo" >
    <id column="GARAGE_ID" property="garageId" jdbcType="DECIMAL" />
    <result column="AREA1" property="area1" jdbcType="VARCHAR" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="GARAGE_NAME" property="garageName" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
    <result column="BUSINESS_SCOPE" property="businessScope" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TELPHONE" property="telphone" jdbcType="VARCHAR" />
    <result column="AREA2" property="area2" jdbcType="VARCHAR" />
    <result column="AREA3" property="area3" jdbcType="VARCHAR" />
    <result column="TEAM" property="team" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PARAM1" property="param1" jdbcType="VARCHAR" />
    <result column="PARAM2" property="param2" jdbcType="VARCHAR" />
    <result column="PARAM3" property="param3" jdbcType="VARCHAR" />
    <result column="PARAM4" property="param4" jdbcType="VARCHAR" />
    <result column="PARAM5" property="param5" jdbcType="VARCHAR" />
    <result column="PARAM6" property="param6" jdbcType="VARCHAR" />
    <result column="PARAM7" property="param7" jdbcType="VARCHAR" />
    <result column="PARAM8" property="param8" jdbcType="VARCHAR" />
    <result column="PARAM9" property="param9" jdbcType="VARCHAR" />
    <result column="PARAM10" property="param10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GARAGE_ID, AREA1, CONTACT, GARAGE_NAME, ADDRESS, GRADE, BUSINESS_SCOPE, STATUS, TELPHONE, 
    AREA2, AREA3, TEAM, REMARK, PARAM1, PARAM2, PARAM3, PARAM4, PARAM5, PARAM6, PARAM7, 
    PARAM8, PARAM9, PARAM10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oojunzi.app.web.model.GarageInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_GARAGE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_GARAGE_INFO
    where GARAGE_ID = #{garageId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_GARAGE_INFO
    where GARAGE_ID = #{garageId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.oojunzi.app.web.model.GarageInfoExample" >
    delete from T_GARAGE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oojunzi.app.web.model.GarageInfo" >
    insert into T_GARAGE_INFO (GARAGE_ID, AREA1, CONTACT, 
      GARAGE_NAME, ADDRESS, GRADE, 
      BUSINESS_SCOPE, STATUS, TELPHONE, 
      AREA2, AREA3, TEAM, REMARK, 
      PARAM1, PARAM2, PARAM3, PARAM4, 
      PARAM5, PARAM6, PARAM7, PARAM8, 
      PARAM9, PARAM10)
    values (#{garageId,jdbcType=DECIMAL}, #{area1,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{garageName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{businessScope,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{area2,jdbcType=VARCHAR}, #{area3,jdbcType=VARCHAR}, #{team,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, 
      #{param5,jdbcType=VARCHAR}, #{param6,jdbcType=VARCHAR}, #{param7,jdbcType=VARCHAR}, #{param8,jdbcType=VARCHAR}, 
      #{param9,jdbcType=VARCHAR}, #{param10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oojunzi.app.web.model.GarageInfo" >
    insert into T_GARAGE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="garageId != null" >
        GARAGE_ID,
      </if>
      <if test="area1 != null" >
        AREA1,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="garageName != null" >
        GARAGE_NAME,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="grade != null" >
        GRADE,
      </if>
      <if test="businessScope != null" >
        BUSINESS_SCOPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="telphone != null" >
        TELPHONE,
      </if>
      <if test="area2 != null" >
        AREA2,
      </if>
      <if test="area3 != null" >
        AREA3,
      </if>
      <if test="team != null" >
        TEAM,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="param1 != null" >
        PARAM1,
      </if>
      <if test="param2 != null" >
        PARAM2,
      </if>
      <if test="param3 != null" >
        PARAM3,
      </if>
      <if test="param4 != null" >
        PARAM4,
      </if>
      <if test="param5 != null" >
        PARAM5,
      </if>
      <if test="param6 != null" >
        PARAM6,
      </if>
      <if test="param7 != null" >
        PARAM7,
      </if>
      <if test="param8 != null" >
        PARAM8,
      </if>
      <if test="param9 != null" >
        PARAM9,
      </if>
      <if test="param10 != null" >
        PARAM10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="garageId != null" >
        #{garageId,jdbcType=DECIMAL},
      </if>
      <if test="area1 != null" >
        #{area1,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="garageName != null" >
        #{garageName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="area2 != null" >
        #{area2,jdbcType=VARCHAR},
      </if>
      <if test="area3 != null" >
        #{area3,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        #{param6,jdbcType=VARCHAR},
      </if>
      <if test="param7 != null" >
        #{param7,jdbcType=VARCHAR},
      </if>
      <if test="param8 != null" >
        #{param8,jdbcType=VARCHAR},
      </if>
      <if test="param9 != null" >
        #{param9,jdbcType=VARCHAR},
      </if>
      <if test="param10 != null" >
        #{param10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oojunzi.app.web.model.GarageInfoExample" resultType="java.lang.Integer" >
    select count(*) from T_GARAGE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_GARAGE_INFO
    <set >
      <if test="record.garageId != null" >
        GARAGE_ID = #{record.garageId,jdbcType=DECIMAL},
      </if>
      <if test="record.area1 != null" >
        AREA1 = #{record.area1,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        CONTACT = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.garageName != null" >
        GARAGE_NAME = #{record.garageName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        GRADE = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.businessScope != null" >
        BUSINESS_SCOPE = #{record.businessScope,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.telphone != null" >
        TELPHONE = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.area2 != null" >
        AREA2 = #{record.area2,jdbcType=VARCHAR},
      </if>
      <if test="record.area3 != null" >
        AREA3 = #{record.area3,jdbcType=VARCHAR},
      </if>
      <if test="record.team != null" >
        TEAM = #{record.team,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.param1 != null" >
        PARAM1 = #{record.param1,jdbcType=VARCHAR},
      </if>
      <if test="record.param2 != null" >
        PARAM2 = #{record.param2,jdbcType=VARCHAR},
      </if>
      <if test="record.param3 != null" >
        PARAM3 = #{record.param3,jdbcType=VARCHAR},
      </if>
      <if test="record.param4 != null" >
        PARAM4 = #{record.param4,jdbcType=VARCHAR},
      </if>
      <if test="record.param5 != null" >
        PARAM5 = #{record.param5,jdbcType=VARCHAR},
      </if>
      <if test="record.param6 != null" >
        PARAM6 = #{record.param6,jdbcType=VARCHAR},
      </if>
      <if test="record.param7 != null" >
        PARAM7 = #{record.param7,jdbcType=VARCHAR},
      </if>
      <if test="record.param8 != null" >
        PARAM8 = #{record.param8,jdbcType=VARCHAR},
      </if>
      <if test="record.param9 != null" >
        PARAM9 = #{record.param9,jdbcType=VARCHAR},
      </if>
      <if test="record.param10 != null" >
        PARAM10 = #{record.param10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_GARAGE_INFO
    set GARAGE_ID = #{record.garageId,jdbcType=DECIMAL},
      AREA1 = #{record.area1,jdbcType=VARCHAR},
      CONTACT = #{record.contact,jdbcType=VARCHAR},
      GARAGE_NAME = #{record.garageName,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      GRADE = #{record.grade,jdbcType=VARCHAR},
      BUSINESS_SCOPE = #{record.businessScope,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      TELPHONE = #{record.telphone,jdbcType=VARCHAR},
      AREA2 = #{record.area2,jdbcType=VARCHAR},
      AREA3 = #{record.area3,jdbcType=VARCHAR},
      TEAM = #{record.team,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      PARAM1 = #{record.param1,jdbcType=VARCHAR},
      PARAM2 = #{record.param2,jdbcType=VARCHAR},
      PARAM3 = #{record.param3,jdbcType=VARCHAR},
      PARAM4 = #{record.param4,jdbcType=VARCHAR},
      PARAM5 = #{record.param5,jdbcType=VARCHAR},
      PARAM6 = #{record.param6,jdbcType=VARCHAR},
      PARAM7 = #{record.param7,jdbcType=VARCHAR},
      PARAM8 = #{record.param8,jdbcType=VARCHAR},
      PARAM9 = #{record.param9,jdbcType=VARCHAR},
      PARAM10 = #{record.param10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oojunzi.app.web.model.GarageInfo" >
    update T_GARAGE_INFO
    <set >
      <if test="area1 != null" >
        AREA1 = #{area1,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="garageName != null" >
        GARAGE_NAME = #{garageName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        BUSINESS_SCOPE = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        TELPHONE = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="area2 != null" >
        AREA2 = #{area2,jdbcType=VARCHAR},
      </if>
      <if test="area3 != null" >
        AREA3 = #{area3,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        TEAM = #{team,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        PARAM3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        PARAM4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        PARAM5 = #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        PARAM6 = #{param6,jdbcType=VARCHAR},
      </if>
      <if test="param7 != null" >
        PARAM7 = #{param7,jdbcType=VARCHAR},
      </if>
      <if test="param8 != null" >
        PARAM8 = #{param8,jdbcType=VARCHAR},
      </if>
      <if test="param9 != null" >
        PARAM9 = #{param9,jdbcType=VARCHAR},
      </if>
      <if test="param10 != null" >
        PARAM10 = #{param10,jdbcType=VARCHAR},
      </if>
    </set>
    where GARAGE_ID = #{garageId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oojunzi.app.web.model.GarageInfo" >
    update T_GARAGE_INFO
    set AREA1 = #{area1,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      GARAGE_NAME = #{garageName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=VARCHAR},
      BUSINESS_SCOPE = #{businessScope,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      TELPHONE = #{telphone,jdbcType=VARCHAR},
      AREA2 = #{area2,jdbcType=VARCHAR},
      AREA3 = #{area3,jdbcType=VARCHAR},
      TEAM = #{team,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      PARAM6 = #{param6,jdbcType=VARCHAR},
      PARAM7 = #{param7,jdbcType=VARCHAR},
      PARAM8 = #{param8,jdbcType=VARCHAR},
      PARAM9 = #{param9,jdbcType=VARCHAR},
      PARAM10 = #{param10,jdbcType=VARCHAR}
    where GARAGE_ID = #{garageId,jdbcType=DECIMAL}
  </update>
</mapper>