<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oojunzi.app.web.dao.HelpSpotMapper" >
  <resultMap id="BaseResultMap" type="com.oojunzi.app.web.model.HelpSpot" >
    <id column="SPOT_ID" property="spotId" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="SPOT_TIME" property="spotTime" jdbcType="DATE" />
    <result column="BUTLER2_FTID" property="butler2Ftid" jdbcType="DECIMAL" />
    <result column="SPOT_RECORD" property="spotRecord" jdbcType="VARCHAR" />
    <result column="RETERENCE" property="reterence" jdbcType="VARCHAR" />
    <result column="RETERENCE_TEL" property="reterenceTel" jdbcType="VARCHAR" />
    <result column="OTHER_SIDE" property="otherSide" jdbcType="VARCHAR" />
    <result column="OTHER_SIDE_TEL" property="otherSideTel" jdbcType="VARCHAR" />
    <result column="DUTY_PRECENT" property="dutyPrecent" jdbcType="VARCHAR" />
    <result column="BUTLER3_FTID" property="butler3Ftid" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="BUTLER_FID" property="butlerFid" jdbcType="DECIMAL" />
    <result column="HELP_FID" property="helpFid" jdbcType="DECIMAL" />
    <result column="PARAM1" property="param1" jdbcType="VARCHAR" />
    <result column="PARAM2" property="param2" jdbcType="VARCHAR" />
    <result column="PARAM3" property="param3" jdbcType="VARCHAR" />
    <result column="PARAM4" property="param4" jdbcType="VARCHAR" />
    <result column="PARAM5" property="param5" jdbcType="VARCHAR" />
    <result column="PARAM6" property="param6" jdbcType="VARCHAR" />
    <result column="PARAM7" property="param7" jdbcType="VARCHAR" />
    <result column="PARAM8" property="param8" jdbcType="VARCHAR" />
    <result column="PARAM9" property="param9" jdbcType="VARCHAR" />
    <result column="PARAM10" property="param10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SPOT_ID, STATUS, SPOT_TIME, BUTLER2_FTID, SPOT_RECORD, RETERENCE, RETERENCE_TEL, 
    OTHER_SIDE, OTHER_SIDE_TEL, DUTY_PRECENT, BUTLER3_FTID, REMARK, BUTLER_FID, HELP_FID, 
    PARAM1, PARAM2, PARAM3, PARAM4, PARAM5, PARAM6, PARAM7, PARAM8, PARAM9, PARAM10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oojunzi.app.web.model.HelpSpotExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_HELP_SPOT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_HELP_SPOT
    where SPOT_ID = #{spotId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_HELP_SPOT
    where SPOT_ID = #{spotId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.oojunzi.app.web.model.HelpSpotExample" >
    delete from T_HELP_SPOT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oojunzi.app.web.model.HelpSpot" >
    insert into T_HELP_SPOT (SPOT_ID, STATUS, SPOT_TIME, 
      BUTLER2_FTID, SPOT_RECORD, RETERENCE, 
      RETERENCE_TEL, OTHER_SIDE, OTHER_SIDE_TEL, 
      DUTY_PRECENT, BUTLER3_FTID, REMARK, 
      BUTLER_FID, HELP_FID, PARAM1, 
      PARAM2, PARAM3, PARAM4, PARAM5, 
      PARAM6, PARAM7, PARAM8, PARAM9, 
      PARAM10)
    values (#{spotId,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{spotTime,jdbcType=DATE}, 
      #{butler2Ftid,jdbcType=DECIMAL}, #{spotRecord,jdbcType=VARCHAR}, #{reterence,jdbcType=VARCHAR}, 
      #{reterenceTel,jdbcType=VARCHAR}, #{otherSide,jdbcType=VARCHAR}, #{otherSideTel,jdbcType=VARCHAR}, 
      #{dutyPrecent,jdbcType=VARCHAR}, #{butler3Ftid,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{butlerFid,jdbcType=DECIMAL}, #{helpFid,jdbcType=DECIMAL}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR}, 
      #{param6,jdbcType=VARCHAR}, #{param7,jdbcType=VARCHAR}, #{param8,jdbcType=VARCHAR}, #{param9,jdbcType=VARCHAR}, 
      #{param10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oojunzi.app.web.model.HelpSpot" >
    insert into T_HELP_SPOT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spotId != null" >
        SPOT_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="spotTime != null" >
        SPOT_TIME,
      </if>
      <if test="butler2Ftid != null" >
        BUTLER2_FTID,
      </if>
      <if test="spotRecord != null" >
        SPOT_RECORD,
      </if>
      <if test="reterence != null" >
        RETERENCE,
      </if>
      <if test="reterenceTel != null" >
        RETERENCE_TEL,
      </if>
      <if test="otherSide != null" >
        OTHER_SIDE,
      </if>
      <if test="otherSideTel != null" >
        OTHER_SIDE_TEL,
      </if>
      <if test="dutyPrecent != null" >
        DUTY_PRECENT,
      </if>
      <if test="butler3Ftid != null" >
        BUTLER3_FTID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="butlerFid != null" >
        BUTLER_FID,
      </if>
      <if test="helpFid != null" >
        HELP_FID,
      </if>
      <if test="param1 != null" >
        PARAM1,
      </if>
      <if test="param2 != null" >
        PARAM2,
      </if>
      <if test="param3 != null" >
        PARAM3,
      </if>
      <if test="param4 != null" >
        PARAM4,
      </if>
      <if test="param5 != null" >
        PARAM5,
      </if>
      <if test="param6 != null" >
        PARAM6,
      </if>
      <if test="param7 != null" >
        PARAM7,
      </if>
      <if test="param8 != null" >
        PARAM8,
      </if>
      <if test="param9 != null" >
        PARAM9,
      </if>
      <if test="param10 != null" >
        PARAM10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spotId != null" >
        #{spotId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="spotTime != null" >
        #{spotTime,jdbcType=DATE},
      </if>
      <if test="butler2Ftid != null" >
        #{butler2Ftid,jdbcType=DECIMAL},
      </if>
      <if test="spotRecord != null" >
        #{spotRecord,jdbcType=VARCHAR},
      </if>
      <if test="reterence != null" >
        #{reterence,jdbcType=VARCHAR},
      </if>
      <if test="reterenceTel != null" >
        #{reterenceTel,jdbcType=VARCHAR},
      </if>
      <if test="otherSide != null" >
        #{otherSide,jdbcType=VARCHAR},
      </if>
      <if test="otherSideTel != null" >
        #{otherSideTel,jdbcType=VARCHAR},
      </if>
      <if test="dutyPrecent != null" >
        #{dutyPrecent,jdbcType=VARCHAR},
      </if>
      <if test="butler3Ftid != null" >
        #{butler3Ftid,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="butlerFid != null" >
        #{butlerFid,jdbcType=DECIMAL},
      </if>
      <if test="helpFid != null" >
        #{helpFid,jdbcType=DECIMAL},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        #{param6,jdbcType=VARCHAR},
      </if>
      <if test="param7 != null" >
        #{param7,jdbcType=VARCHAR},
      </if>
      <if test="param8 != null" >
        #{param8,jdbcType=VARCHAR},
      </if>
      <if test="param9 != null" >
        #{param9,jdbcType=VARCHAR},
      </if>
      <if test="param10 != null" >
        #{param10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oojunzi.app.web.model.HelpSpotExample" resultType="java.lang.Integer" >
    select count(*) from T_HELP_SPOT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_HELP_SPOT
    <set >
      <if test="record.spotId != null" >
        SPOT_ID = #{record.spotId,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.spotTime != null" >
        SPOT_TIME = #{record.spotTime,jdbcType=DATE},
      </if>
      <if test="record.butler2Ftid != null" >
        BUTLER2_FTID = #{record.butler2Ftid,jdbcType=DECIMAL},
      </if>
      <if test="record.spotRecord != null" >
        SPOT_RECORD = #{record.spotRecord,jdbcType=VARCHAR},
      </if>
      <if test="record.reterence != null" >
        RETERENCE = #{record.reterence,jdbcType=VARCHAR},
      </if>
      <if test="record.reterenceTel != null" >
        RETERENCE_TEL = #{record.reterenceTel,jdbcType=VARCHAR},
      </if>
      <if test="record.otherSide != null" >
        OTHER_SIDE = #{record.otherSide,jdbcType=VARCHAR},
      </if>
      <if test="record.otherSideTel != null" >
        OTHER_SIDE_TEL = #{record.otherSideTel,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyPrecent != null" >
        DUTY_PRECENT = #{record.dutyPrecent,jdbcType=VARCHAR},
      </if>
      <if test="record.butler3Ftid != null" >
        BUTLER3_FTID = #{record.butler3Ftid,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.butlerFid != null" >
        BUTLER_FID = #{record.butlerFid,jdbcType=DECIMAL},
      </if>
      <if test="record.helpFid != null" >
        HELP_FID = #{record.helpFid,jdbcType=DECIMAL},
      </if>
      <if test="record.param1 != null" >
        PARAM1 = #{record.param1,jdbcType=VARCHAR},
      </if>
      <if test="record.param2 != null" >
        PARAM2 = #{record.param2,jdbcType=VARCHAR},
      </if>
      <if test="record.param3 != null" >
        PARAM3 = #{record.param3,jdbcType=VARCHAR},
      </if>
      <if test="record.param4 != null" >
        PARAM4 = #{record.param4,jdbcType=VARCHAR},
      </if>
      <if test="record.param5 != null" >
        PARAM5 = #{record.param5,jdbcType=VARCHAR},
      </if>
      <if test="record.param6 != null" >
        PARAM6 = #{record.param6,jdbcType=VARCHAR},
      </if>
      <if test="record.param7 != null" >
        PARAM7 = #{record.param7,jdbcType=VARCHAR},
      </if>
      <if test="record.param8 != null" >
        PARAM8 = #{record.param8,jdbcType=VARCHAR},
      </if>
      <if test="record.param9 != null" >
        PARAM9 = #{record.param9,jdbcType=VARCHAR},
      </if>
      <if test="record.param10 != null" >
        PARAM10 = #{record.param10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_HELP_SPOT
    set SPOT_ID = #{record.spotId,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=VARCHAR},
      SPOT_TIME = #{record.spotTime,jdbcType=DATE},
      BUTLER2_FTID = #{record.butler2Ftid,jdbcType=DECIMAL},
      SPOT_RECORD = #{record.spotRecord,jdbcType=VARCHAR},
      RETERENCE = #{record.reterence,jdbcType=VARCHAR},
      RETERENCE_TEL = #{record.reterenceTel,jdbcType=VARCHAR},
      OTHER_SIDE = #{record.otherSide,jdbcType=VARCHAR},
      OTHER_SIDE_TEL = #{record.otherSideTel,jdbcType=VARCHAR},
      DUTY_PRECENT = #{record.dutyPrecent,jdbcType=VARCHAR},
      BUTLER3_FTID = #{record.butler3Ftid,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      BUTLER_FID = #{record.butlerFid,jdbcType=DECIMAL},
      HELP_FID = #{record.helpFid,jdbcType=DECIMAL},
      PARAM1 = #{record.param1,jdbcType=VARCHAR},
      PARAM2 = #{record.param2,jdbcType=VARCHAR},
      PARAM3 = #{record.param3,jdbcType=VARCHAR},
      PARAM4 = #{record.param4,jdbcType=VARCHAR},
      PARAM5 = #{record.param5,jdbcType=VARCHAR},
      PARAM6 = #{record.param6,jdbcType=VARCHAR},
      PARAM7 = #{record.param7,jdbcType=VARCHAR},
      PARAM8 = #{record.param8,jdbcType=VARCHAR},
      PARAM9 = #{record.param9,jdbcType=VARCHAR},
      PARAM10 = #{record.param10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oojunzi.app.web.model.HelpSpot" >
    update T_HELP_SPOT
    <set >
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="spotTime != null" >
        SPOT_TIME = #{spotTime,jdbcType=DATE},
      </if>
      <if test="butler2Ftid != null" >
        BUTLER2_FTID = #{butler2Ftid,jdbcType=DECIMAL},
      </if>
      <if test="spotRecord != null" >
        SPOT_RECORD = #{spotRecord,jdbcType=VARCHAR},
      </if>
      <if test="reterence != null" >
        RETERENCE = #{reterence,jdbcType=VARCHAR},
      </if>
      <if test="reterenceTel != null" >
        RETERENCE_TEL = #{reterenceTel,jdbcType=VARCHAR},
      </if>
      <if test="otherSide != null" >
        OTHER_SIDE = #{otherSide,jdbcType=VARCHAR},
      </if>
      <if test="otherSideTel != null" >
        OTHER_SIDE_TEL = #{otherSideTel,jdbcType=VARCHAR},
      </if>
      <if test="dutyPrecent != null" >
        DUTY_PRECENT = #{dutyPrecent,jdbcType=VARCHAR},
      </if>
      <if test="butler3Ftid != null" >
        BUTLER3_FTID = #{butler3Ftid,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="butlerFid != null" >
        BUTLER_FID = #{butlerFid,jdbcType=DECIMAL},
      </if>
      <if test="helpFid != null" >
        HELP_FID = #{helpFid,jdbcType=DECIMAL},
      </if>
      <if test="param1 != null" >
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        PARAM3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        PARAM4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        PARAM5 = #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        PARAM6 = #{param6,jdbcType=VARCHAR},
      </if>
      <if test="param7 != null" >
        PARAM7 = #{param7,jdbcType=VARCHAR},
      </if>
      <if test="param8 != null" >
        PARAM8 = #{param8,jdbcType=VARCHAR},
      </if>
      <if test="param9 != null" >
        PARAM9 = #{param9,jdbcType=VARCHAR},
      </if>
      <if test="param10 != null" >
        PARAM10 = #{param10,jdbcType=VARCHAR},
      </if>
    </set>
    where SPOT_ID = #{spotId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oojunzi.app.web.model.HelpSpot" >
    update T_HELP_SPOT
    set STATUS = #{status,jdbcType=VARCHAR},
      SPOT_TIME = #{spotTime,jdbcType=DATE},
      BUTLER2_FTID = #{butler2Ftid,jdbcType=DECIMAL},
      SPOT_RECORD = #{spotRecord,jdbcType=VARCHAR},
      RETERENCE = #{reterence,jdbcType=VARCHAR},
      RETERENCE_TEL = #{reterenceTel,jdbcType=VARCHAR},
      OTHER_SIDE = #{otherSide,jdbcType=VARCHAR},
      OTHER_SIDE_TEL = #{otherSideTel,jdbcType=VARCHAR},
      DUTY_PRECENT = #{dutyPrecent,jdbcType=VARCHAR},
      BUTLER3_FTID = #{butler3Ftid,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      BUTLER_FID = #{butlerFid,jdbcType=DECIMAL},
      HELP_FID = #{helpFid,jdbcType=DECIMAL},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      PARAM6 = #{param6,jdbcType=VARCHAR},
      PARAM7 = #{param7,jdbcType=VARCHAR},
      PARAM8 = #{param8,jdbcType=VARCHAR},
      PARAM9 = #{param9,jdbcType=VARCHAR},
      PARAM10 = #{param10,jdbcType=VARCHAR}
    where SPOT_ID = #{spotId,jdbcType=DECIMAL}
  </update>
</mapper>