<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oojunzi.app.web.dao.ScorePlanMapper" >
  <resultMap id="BaseResultMap" type="com.oojunzi.app.web.model.ScorePlan" >
    <id column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
    <result column="PRIORITY" property="priority" jdbcType="DECIMAL" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATER_ID" property="createrId" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_ID" property="updateId" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PLAN_NAME" property="planName" jdbcType="VARCHAR" />
    <result column="BEGIN_TIME" property="beginTime" jdbcType="DATE" />
    <result column="END_TIME" property="endTime" jdbcType="DATE" />
    <result column="GROUP_FID" property="groupFid" jdbcType="DECIMAL" />
    <result column="LEVEL_FID" property="levelFid" jdbcType="DECIMAL" />
    <result column="PARAM1" property="param1" jdbcType="VARCHAR" />
    <result column="PARAM2" property="param2" jdbcType="VARCHAR" />
    <result column="PARAM3" property="param3" jdbcType="VARCHAR" />
    <result column="PARAM4" property="param4" jdbcType="VARCHAR" />
    <result column="PARAM5" property="param5" jdbcType="VARCHAR" />
    <result column="PARAM6" property="param6" jdbcType="VARCHAR" />
    <result column="PARAM7" property="param7" jdbcType="VARCHAR" />
    <result column="PARAM8" property="param8" jdbcType="VARCHAR" />
    <result column="PARAM9" property="param9" jdbcType="VARCHAR" />
    <result column="PARAM10" property="param10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PLAN_ID, PRIORITY, DESCRIPTION, CREATER_ID, CREATE_TIME, UPDATE_ID, UPDATE_TIME, 
    STATUS, REMARK, PLAN_NAME, BEGIN_TIME, END_TIME, GROUP_FID, LEVEL_FID, PARAM1, PARAM2, 
    PARAM3, PARAM4, PARAM5, PARAM6, PARAM7, PARAM8, PARAM9, PARAM10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oojunzi.app.web.model.ScorePlanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SCORE_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_SCORE_PLAN
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_SCORE_PLAN
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.oojunzi.app.web.model.ScorePlanExample" >
    delete from T_SCORE_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oojunzi.app.web.model.ScorePlan" >
    insert into T_SCORE_PLAN (PLAN_ID, PRIORITY, DESCRIPTION, 
      CREATER_ID, CREATE_TIME, UPDATE_ID, 
      UPDATE_TIME, STATUS, REMARK, 
      PLAN_NAME, BEGIN_TIME, END_TIME, 
      GROUP_FID, LEVEL_FID, PARAM1, 
      PARAM2, PARAM3, PARAM4, PARAM5, 
      PARAM6, PARAM7, PARAM8, PARAM9, 
      PARAM10)
    values (#{planId,jdbcType=DECIMAL}, #{priority,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=DECIMAL}, #{createTime,jdbcType=DATE}, #{updateId,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{planName,jdbcType=VARCHAR}, #{beginTime,jdbcType=DATE}, #{endTime,jdbcType=DATE}, 
      #{groupFid,jdbcType=DECIMAL}, #{levelFid,jdbcType=DECIMAL}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR}, 
      #{param6,jdbcType=VARCHAR}, #{param7,jdbcType=VARCHAR}, #{param8,jdbcType=VARCHAR}, #{param9,jdbcType=VARCHAR}, 
      #{param10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oojunzi.app.web.model.ScorePlan" >
    insert into T_SCORE_PLAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        PLAN_ID,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="createrId != null" >
        CREATER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="planName != null" >
        PLAN_NAME,
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="groupFid != null" >
        GROUP_FID,
      </if>
      <if test="levelFid != null" >
        LEVEL_FID,
      </if>
      <if test="param1 != null" >
        PARAM1,
      </if>
      <if test="param2 != null" >
        PARAM2,
      </if>
      <if test="param3 != null" >
        PARAM3,
      </if>
      <if test="param4 != null" >
        PARAM4,
      </if>
      <if test="param5 != null" >
        PARAM5,
      </if>
      <if test="param6 != null" >
        PARAM6,
      </if>
      <if test="param7 != null" >
        PARAM7,
      </if>
      <if test="param8 != null" >
        PARAM8,
      </if>
      <if test="param9 != null" >
        PARAM9,
      </if>
      <if test="param10 != null" >
        PARAM10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        #{planId,jdbcType=DECIMAL},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="planName != null" >
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
      <if test="groupFid != null" >
        #{groupFid,jdbcType=DECIMAL},
      </if>
      <if test="levelFid != null" >
        #{levelFid,jdbcType=DECIMAL},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        #{param6,jdbcType=VARCHAR},
      </if>
      <if test="param7 != null" >
        #{param7,jdbcType=VARCHAR},
      </if>
      <if test="param8 != null" >
        #{param8,jdbcType=VARCHAR},
      </if>
      <if test="param9 != null" >
        #{param9,jdbcType=VARCHAR},
      </if>
      <if test="param10 != null" >
        #{param10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oojunzi.app.web.model.ScorePlanExample" resultType="java.lang.Integer" >
    select count(*) from T_SCORE_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SCORE_PLAN
    <set >
      <if test="record.planId != null" >
        PLAN_ID = #{record.planId,jdbcType=DECIMAL},
      </if>
      <if test="record.priority != null" >
        PRIORITY = #{record.priority,jdbcType=DECIMAL},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createrId != null" >
        CREATER_ID = #{record.createrId,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateId != null" >
        UPDATE_ID = #{record.updateId,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.planName != null" >
        PLAN_NAME = #{record.planName,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null" >
        BEGIN_TIME = #{record.beginTime,jdbcType=DATE},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=DATE},
      </if>
      <if test="record.groupFid != null" >
        GROUP_FID = #{record.groupFid,jdbcType=DECIMAL},
      </if>
      <if test="record.levelFid != null" >
        LEVEL_FID = #{record.levelFid,jdbcType=DECIMAL},
      </if>
      <if test="record.param1 != null" >
        PARAM1 = #{record.param1,jdbcType=VARCHAR},
      </if>
      <if test="record.param2 != null" >
        PARAM2 = #{record.param2,jdbcType=VARCHAR},
      </if>
      <if test="record.param3 != null" >
        PARAM3 = #{record.param3,jdbcType=VARCHAR},
      </if>
      <if test="record.param4 != null" >
        PARAM4 = #{record.param4,jdbcType=VARCHAR},
      </if>
      <if test="record.param5 != null" >
        PARAM5 = #{record.param5,jdbcType=VARCHAR},
      </if>
      <if test="record.param6 != null" >
        PARAM6 = #{record.param6,jdbcType=VARCHAR},
      </if>
      <if test="record.param7 != null" >
        PARAM7 = #{record.param7,jdbcType=VARCHAR},
      </if>
      <if test="record.param8 != null" >
        PARAM8 = #{record.param8,jdbcType=VARCHAR},
      </if>
      <if test="record.param9 != null" >
        PARAM9 = #{record.param9,jdbcType=VARCHAR},
      </if>
      <if test="record.param10 != null" >
        PARAM10 = #{record.param10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SCORE_PLAN
    set PLAN_ID = #{record.planId,jdbcType=DECIMAL},
      PRIORITY = #{record.priority,jdbcType=DECIMAL},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      CREATER_ID = #{record.createrId,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      UPDATE_ID = #{record.updateId,jdbcType=DECIMAL},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      STATUS = #{record.status,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      PLAN_NAME = #{record.planName,jdbcType=VARCHAR},
      BEGIN_TIME = #{record.beginTime,jdbcType=DATE},
      END_TIME = #{record.endTime,jdbcType=DATE},
      GROUP_FID = #{record.groupFid,jdbcType=DECIMAL},
      LEVEL_FID = #{record.levelFid,jdbcType=DECIMAL},
      PARAM1 = #{record.param1,jdbcType=VARCHAR},
      PARAM2 = #{record.param2,jdbcType=VARCHAR},
      PARAM3 = #{record.param3,jdbcType=VARCHAR},
      PARAM4 = #{record.param4,jdbcType=VARCHAR},
      PARAM5 = #{record.param5,jdbcType=VARCHAR},
      PARAM6 = #{record.param6,jdbcType=VARCHAR},
      PARAM7 = #{record.param7,jdbcType=VARCHAR},
      PARAM8 = #{record.param8,jdbcType=VARCHAR},
      PARAM9 = #{record.param9,jdbcType=VARCHAR},
      PARAM10 = #{record.param10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oojunzi.app.web.model.ScorePlan" >
    update T_SCORE_PLAN
    <set >
      <if test="priority != null" >
        PRIORITY = #{priority,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="planName != null" >
        PLAN_NAME = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME = #{beginTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=DATE},
      </if>
      <if test="groupFid != null" >
        GROUP_FID = #{groupFid,jdbcType=DECIMAL},
      </if>
      <if test="levelFid != null" >
        LEVEL_FID = #{levelFid,jdbcType=DECIMAL},
      </if>
      <if test="param1 != null" >
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        PARAM3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        PARAM4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        PARAM5 = #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        PARAM6 = #{param6,jdbcType=VARCHAR},
      </if>
      <if test="param7 != null" >
        PARAM7 = #{param7,jdbcType=VARCHAR},
      </if>
      <if test="param8 != null" >
        PARAM8 = #{param8,jdbcType=VARCHAR},
      </if>
      <if test="param9 != null" >
        PARAM9 = #{param9,jdbcType=VARCHAR},
      </if>
      <if test="param10 != null" >
        PARAM10 = #{param10,jdbcType=VARCHAR},
      </if>
    </set>
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oojunzi.app.web.model.ScorePlan" >
    update T_SCORE_PLAN
    set PRIORITY = #{priority,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATER_ID = #{createrId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_ID = #{updateId,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      PLAN_NAME = #{planName,jdbcType=VARCHAR},
      BEGIN_TIME = #{beginTime,jdbcType=DATE},
      END_TIME = #{endTime,jdbcType=DATE},
      GROUP_FID = #{groupFid,jdbcType=DECIMAL},
      LEVEL_FID = #{levelFid,jdbcType=DECIMAL},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      PARAM6 = #{param6,jdbcType=VARCHAR},
      PARAM7 = #{param7,jdbcType=VARCHAR},
      PARAM8 = #{param8,jdbcType=VARCHAR},
      PARAM9 = #{param9,jdbcType=VARCHAR},
      PARAM10 = #{param10,jdbcType=VARCHAR}
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </update>
</mapper>