<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oojunzi.app.web.dao.SequencesMapper" >
  
  <select id="selectSeqCarInfo" resultType="long">
  		select SEQ_CAR_INFO.Nextval from dual
  </select>
  
  <select id="selectSeqHelpInfo" resultType="long">
  		select SEQ_CAR_INFO.Nextval from dual
  </select>
  
</mapper>